
/******   primary colors ***********/

$primary-black: #323232;
$primary-blue: #0095FF;
$primary-silver: #AFAFAF;
$primary-white: #ffffff;

/******  secondary colors ***********/

$secondary-black: #000000;
$secondary-blue: #0065AD;
$secondary-silver: #E1E1E1;
$secondary-white: #FAFAFA;


/******  secondary colors ***********/

$before-headlines-mobile: 1.5rem;
$after-headlines-mobile: 1rem;
$between-mobile: 1rem;



$before-headlines-desktop: 2.25rem;
$after-headlines-desktop: 1.5rem;
$between-desktop: 1.5rem;
