@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts.scss" as *;



a {
    text-decoration: none;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: $before-headlines-mobile;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid $secondary-silver;
   

    @include medium {
        flex-direction: row;
        padding: 2rem;
        height: 6rem;
    }

    @include large {
        padding-left: 5rem;
        padding-right: 5rem;
    }


    &__block {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        padding: 1rem;

        @include medium {
            flex-flow: nowrap;
            justify-content: flex-end;
            align-items: center;
            padding: 0;


        }
    }

    &__logo {
        height: 1.5625rem;
        width: 7.5rem;
    }

    &__upload {
        background: $primary-blue;
        border: none;
        height: 3rem;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        width: 100%;
        position: relative;

        &-btn {
            text-decoration: none;
            color: $primary-white;
            background: $primary-blue;
            font-size: .75rem;
            line-height: 2rem;
            text-transform: uppercase;
            font-weight: 700;
            border: none;
        }

        @include medium {
            width: 11rem;

        }

        &-image {
            width: 1.5625rem;
            margin-right: 3rem;
            position: absolute;
            left: 5px;

            @include medium {
                margin-right: 0;
            }

        }
    }

    &__avatar {
        position: absolute;
        right: 1.875rem;


        @include medium {
            position: static;
            display: inline;
            padding-top: 0.5rem;
        }

        &-image {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            background: $secondary-white;
            @include medium {
                margin: 0 1rem 0 1rem;
                height: 3rem;
                width: 3rem;
            }
        }
    }

    &__search {
        height: 3rem;
        color: $secondary-black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 3.75rem;


        @include medium {
            width: none;
            margin: 0 1rem;
            padding: 0 1rem;

        }

    }

    &__upload {
        height: 3rem;
        padding: 0.5rem;
        border-radius: .3125rem;
        color: $primary-white;
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        padding: 0 2rem;


        @include medium {
            margin: 0;
            width: 11rem;
            padding: 0 2rem;
        }

        &:hover {
                    background: $secondary-blue;
        
                }

        &-btn:hover {
            background: $secondary-blue;

        }
    }



}

.search {

    &__placeholder {
        height: 3rem;
        width: 100%;
        border-radius: .25rem;
        padding: 0.5rem;
        position: relative;
        background: $secondary-white;
        border: 1px solid $secondary-silver;
        display: inline-block;
      

        @include medium {
            width: 18rem;

        }

    }

    &__image {
        position: absolute;
        margin-left: .1875rem;
        color: $primary-silver;

        @include medium {
            justify-content: flex-end;
        }
    }

       
}