// @use "../../styles/breakpoints.scss" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints.scss" as *;



.comments {
    color: $primary-black;
    padding: 0 1rem;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;

    @include medium {
        padding: 0 2rem;
        font-size: .875rem;
        line-height: 1.375rem;
    }

    @include large {
        padding: 0;
    }

    &__form {

        width: 100%;
        @include large {
                padding-right: 2rem;
            }

        &-title {
            font-size: .8125rem;
            line-height: 1.125rem;
            font-weight: 700;

            @include medium {
                font-size: .875rem;
                line-height: 1.375rem;
            }
                         
        }
    }

    &__item {
        border-bottom: 1px solid $secondary-silver;
        display: flex;

        &-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &-image {
            width: 36px;
            height: 36px;
            border: 1px solid $secondary-silver;
            margin-left: 5px;
            top: 5px;
            border-radius: 50%;
            background: $secondary-silver;

            @include medium {
                width: 48px;
                height: 48px;
            }
        }

        &-left {
            padding: 1rem;
        }

        &-right {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-right: 2rem;
            width: 100%;
        }

        &-name,
        &-date {
            display: inline-block;
            margin: 1rem 0 0 0;
        }


        &-date {
            color: $primary-silver;
        }

        &-text {
            display: block;
            width: 100%;
        }
    }
}


.form {
    display: flex;
    width: 100%;
    font-family: "Avenir";
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $secondary-silver;
    padding-bottom: 1rem;

   

    &__left {
        display: flex;
        padding: 1rem;

    }

    &__right {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;

        @include medium {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

        }
    }

    &__img {
        width: 2.25rem;
        height: 2.25rem;
        margin-left: .3125rem;
        position: relative;
        border-radius: 50%;
        margin-top: 0.5rem;

        @include medium {
            width: 3rem;
            height: 3rem;
            margin-top: 1rem;
        }
    }

    &__label {
        font-weight: 600;
        line-height: 1.5;
        width: 100%;
        display: inline;
        text-transform: uppercase;
        color: $primary-silver;


        @include medium {
            font-size: .875rem;
            line-height: 2rem;
        }
    }


    &__textarea {
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include medium {
            height: 3.75rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


        }

        &-item {
            height: 10rem;
            box-shadow: none;
            width: 100%;
            border-radius: 5px;
            border: 1px solid $secondary-silver;
            font-family: "Avenir";
            background: $secondary-white;
            color: $secondary-black;
            font-weight: 400;
            font-size: .8125rem;
            line-height: 1.125rem;
            padding: 1rem;
            margin-bottom: 1rem;

            @include medium {
                padding: 0.5rem;
                height: 40px;
                margin: 0 3rem 0 0;
            }
        }

        &-item:focus {
            border: 2px solid $secondary-blue;
        }
    }


    &__button-btn {
        height: 2.5rem;
        width: 100%;
        border-radius: .3125rem;
        font-family: "Avenir";
        font-weight: 700;
        font-size: .625rem;
        line-height: 1.25rem;
        border: none;
        color: $primary-white;
        font-size: 1rem;
        background: $primary-blue;
        align-items: center;
        cursor: pointer;
        height: 2.5rem;
        display: flex;
        align-items: center;
        gap: 8.5rem;
        padding: 1rem;

        @include medium {
            font-size: .875rem;
            line-height: 1.25rem;
            width: 11rem;
            gap: 1rem;
            padding: 0 2rem;
            justify-content: center;
        }


    }

    &__button-btn:hover {
        background: $secondary-blue;

    }


}